
.dropbtn {
    background-color: #5087bb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
  }

  .arrow {
      height: 30px;
      margin-bottom: auto;
      margin-top: auto;
  }
  
  .dropdown {
    position: sticky;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd; cursor: pointer;}
  
  .dropdown:hover .dropdown-content {display: block; cursor: pointer;}
  
  .dropdown:hover .dropbtn {cursor: pointer;}